{{> layout/header}}

<div class="container pt-100 pb-100" style="text-align: center">
    <h2 class="mb-30">상품 목록</h2>

    <table class="table table-striped" style="">
        <thead>
        <tr>
            <th class="center-align">No</th>
            <th class="center-align">상품명</th>
            <th class="center-align">상품가격</th>
            <th class="center-align">상품수량</th>
            <th class="center-align">상세보기</th>
        </tr>
        </thead>
        <tbody>
        {{#productList}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{price}}원</td>
                <td>{{qty}}개</td>
                <td><a href="/product/{{id}}" class="product btn btn-warning">상세보기</a></td>
            </tr>
        {{/productList}}
        </tbody>
    </table>
</div>

{{> layout/footer}}